<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiTransportes NOVA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">MULTITRANSPORTES NOVA</div>
        <nav>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </header>
    
      <section class="hero">
        <div class="hero-content">
          <h1>Turismo Terrestre en Guatemala</h1>
          <p>Sitio web Proximamente...</p>
          <a href="#" class="btn">Reservas</a>
        </div>
      </section>
    
      <section class="services">
        <h2>¿Qué ofrecemos?</h2>
        <div class="cards">
          <div class="card">
            <h3>Comodidad </h3>
            <p>En MultiTransportes NOVA nos enfocamos en tu comodidad y en brindarte un servicio eficiente y personalizado.</p>
            <ul>
              <li>Vehículos modernos</li>
              <li>Conductores capacitados y confiables</li>
            </ul>
          </div>
          <div class="card">
            <h3>Transporte Regional</h3>
            <p>Cubrimos rutas a nivel nacional y Centroamérica con seguridad.</p>
          </div>
          <div class="card">
            <h3>Servicio de Primera</h3>
            <p>En MultiTransportes NOVA nos enfocamos en el servicio del cliente para que tenga una experiencia inolvidable.</p>
            <ul>
                <li>Atención para clientes</li>
                <li>Seguridad garantizada en cada viaje</li>
              </ul>
          </div>
        </div>
      </section>
    
      <footer>
        <p>&copy; 2025 MultiTransportes NOVA. Todos los derechos reservados.</p>
      </footer>
</body>
</html>